/* You can add global styles to this file, and also import other style files */
@import "~primeng/resources/themes/lara-light-blue/theme.css";
@import "~primeng/resources/primeng.css";

body {
  background-color: var(--primary-color);
}

.splitter {
  height: 636px;
  background-color: var(--highlight-bg);
}

.header {
  font-size: 26px;
  margin-left: 20px;
  margin-top: 10px;
  text-align: center;
  color: var(--primary-color);
}
